<%
  require 'elevator_media/streamer'
%>

<div class="container">
  <h1>ELEVATOR MEDIA</h1>
</div>

<!-- DIV TEST API WEEK 10 -->
<div class="container bg-primary text-white">
  <%= @content %>
</div>
