

<script>
  plugin_path = '../assets/';
</script>

<!--Interventions Form-->
<form action="" method="" enctype="multipart/form-data" id="intForm">

<div class="container">

			<header class="text-center mb-60 mt-40">
				<h2>New Intervention Request</h2>
				<hr />
			</header>

			<div class="row">
				<!-- FORM -->
					<div class="container col-5 mt-5 mb-5 text-center">
                       <label for="clients">Select Client</label>
					   <%= collection_select(:customer, :user_id, Customer.all, :id, :company_name, prompt: true) %>
                       <br/>
                       <br/>
                       <label for="client-buildings">Select Building</label>
					   <input required type="text" value="" name="client-buildings" id="clientsBlForm">
                       <br/>
                       <br/>
                       <label for="buildings-batteries">Select Battery</label>
					   <input required type="text" value="" name="buildings-batteries" id="BlBattForm">
                       <br/>
                       <br/>
                       <label for="batteries-columns">Select Column</label>
					   <input required type="text" value="" name="batteries-columns" id="batColForm">
                       <br/>
                       <br/>
                       <label for="columns-lift">Select Lift</label>
					   <input required type="text" value="" name="columns-lift" id="colLifForm">
                       <br/>
                       <br/>
                       <label for="description">Intervention Description</label>
                       <input required type="text" value="" class="form-control" name="description" id="descrFrm">
                      

                    
                    </div>

            </div>

</div><!--End main form coantainer-->

<a href="#" id="toTop">
  <span class="arrow-top">▲</span>
</a>