<div class="row">
  <div class="col-12 "><input type="text" disabled="true" placeholder="Elevator Cost" class="form-control"></div>
  <div class="col-12 text-center"><input type="text" disabled="true" placeholder="Installation Fee" class="form-control"></div>
  <div class="col-12 text-center"><input type="text" disabled="true" placeholder="Total Cost" class="form-control"></div>
  <div class="col-12 text-center"><button type="button" class="btn btn-lg btn-default">Reset</button>
    <span class="fs-20">&#160; OR &#160;</span>
    <button type="button" onclick="offer()" class="btn btn-lg btn-red">Submit</button></div>
</div>
