<section>
  <div class="text-center">
    <h1 class="fw-300 text-blue">My Quotes</h1>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Quote ID</th>
          <th scope="col">Service Type</th>
          <th scope="col">Elevators</th>
          <th scope="col">Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <% @quotes.each do |q| %>
          <tr>
            <th scope="row"> <%= q.id %> </th>
            <td>Service Type to be added</td>
            <td><%= q.number_elevator %></td>
            <td><%= q.total_price %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</section>
