<section id="contact">
  <div class="container">
    <header class="text-center mb-60">
      <h2>Contact Us</h2>
      <hr />
    </header>
    <div class="row">
      <!-- INFO -->
      <div class="col-lg-3 text-center">
        <div class="row">
          <div class="col-lg-12 col-md-6">
            <h2>Visit Us</h2>
            <p>
              Visit us on <a target="_blank" href="https://codeboxx.biz/">OUR WEBSITE</a>!!!
            </p>
            <hr />
            <p>
              <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington Street, Montreal, QC, Canada</span>
              <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a class="addhover" href="tel:581-701-0303">581-701-0303</a></span>
              <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a class="addhover" href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
            </p>
          </div>
          <div class="col-lg-12 col-md-6">
            <iframe id="map-spacing" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.042993784821!2d-71.2818834840848!3d46.842843548415686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897d0e1cafe3f%3A0x9863b2d992c71670!2sCodeBoxx!5e0!3m2!1sfr!2sca!4v1599866854501!5m2!1sfr!2sca" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </div>
      <!-- /INFO -->
      <!-- FORM -->
      <div class="col-lg-9 text-center">
        <h3>Submit us your <strong><em>Project!</em></strong></h3>
        <!-- Alert Success -->
        <div id="alert_success" class="alert alert-success mb-30">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Thank You!</strong> Your message successfully sent!
        </div>
        <!-- /Alert Success -->
        <!-- Alert Failed -->
        <div id="alert_failed" class="alert alert-danger mb-30">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>[SMTP] Error!</strong> Internal server error!
        </div>
        <!-- /Alert Failed -->
        <!-- Alert Mandatory -->
        <div id="alert_mandatory" class="alert alert-danger mb-30">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
        </div>
        <!-- /Alert Mandatory -->
        <form action="404.html" method="post" enctype="multipart/form-data">
          <fieldset>
            <input type="hidden" name="action" value="contact_send" />
            <div class="row">
              <div class="col-md-4">
                <label for="contact:name">Full Name *</label>
                <input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name">
              </div>
              <div class="col-md-4">
                <label for="contact:email">E-mail Address *</label>
                <input required type="email" value="" class="form-control" name="contact[email][required]" id="contact:email">
              </div>
              <div class="col-md-4">
                <label for="contact:phone">Phone</label>
                <input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="contact:subject">Business Name *</label>
                <input required type="text" value="" class="form-control" name="contact[subject][required]" id="contact:subject">
              </div>
              <div class="col-md-4">
                <label for="contact:subject">Project Name *</label>
                <input required type="text" value="" class="form-control" name="contact[subject][required]" >
              </div>
              <div class="col-md-4">
                <label for="contact_department">Department</label>
                <select class="form-control pointer" name="contact[department]">
                  <option value="">--- Select ---</option>
                  <option value="Elevator Consultant">Elevator Consultant</option>
                  <option value="Building Manager">Building Manager</option>
                  <option value="Architect">Architect</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="clearfix col-md-6">
                <label for="contact:Project Description">Project Description *</label>
                <textarea required maxlength="10000" rows="8" class="form-control" name="contact[message]" id="contact:message"></textarea>
              </div>
              <div class="clearfix col-md-6">
                <label for="contact:message">Message *</label>
                <textarea required maxlength="10000" rows="8" class="form-control" name="contact" ></textarea>
              </div>
            </div>
            <div class="clearfix mt-30">
              <label for="contact:attachment">File Attachment</label>
              <!-- custom file upload -->
              <div class="fancy-file-upload fancy-file-danger">
                <i class="fa fa-upload"></i>
                <input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
                <input type="text" class="form-control" placeholder="no file selected" readonly="" />
                <span class="button">Choose File</span>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-red"><i class="fa fa-check"></i> SEND MESSAGE</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /FORM -->
    </div>
  </div>
</section>
<!-- /CONTACT -->
