<div class="text-center col-12">
  <h3 class="fw-300">Hello <%= current_user.custom_label_method %></h3>
  <p>Here's today's status update</p>
  <%= audio_tag(current_user.greeting_message.url, autoplay: false, controls: true, style: "height: 2.5vh; margin-right: auto; margin-left: auto;" ) %>
</div>
